@{
    ViewBag.Title = "About";
}

<style>
    h1 {
        margin:70px;
    }
    div{
        text-align:center;
    }
   
</style>
<div>
    <h1>Workshop Management</h1>

    <img src="~/Media/autovyn.png" height="300px" width="350px"/>

</div>